* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-rooms-booking {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 13%;
  background-color: rgb(235, 228, 214);
  color: rgb(24, 25, 25);
  width: 95%;
  margin-left: 2.5%;
  padding: 10px;
  border-radius: 10px;
}

#content-book tr th {
  border: 1px solid rgb(26, 24, 24);
  color: rgb(31, 32, 33);
}

#body-book tr td {
  border: 1px solid rgb(30, 29, 29);
  color: rgb(27, 25, 25);
}

.pay-cart {
  margin-left: 85%;
}

#modal-pay {
  margin-top: 5%;
  z-index: 999999999;
}

.pay-header {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
}

.pay-total {
  display: flex;
  justify-content: space-around;
}

@media only screen and (max-width: 390px) {
  .container-category {
    position: relative;
    width: 100%;
    top: 70px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    overflow: hidden;
  }

  .container-category {
    position: fixed;
    top: 70px;
  }

  .title-category {
    font-size: 10px;
    margin-bottom: 5px;
  }

  .title-navbar {
    font-size: 18px;
  }

  .navbar-toggler {
    position: relative;
    right: 5%;
    font-size: 10px;
  }

  .navbar-toggler-icon {
    border-radius: 5px;
  }

  #search-navbar {
    position: relative;
    right: 52%;
    width: 100%;
    padding: 10px;
  }

  .button-login-signup {
    position: relative;
    left: 5%;
    padding: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }

  .checkbox {
    position: relative;
    left: 6%;
    top: 4px;
  }

  .dropdown {
    top: 20%;
    left: 55%;
    background-color: rgba(16, 15, 15, 0.7);
    color: #f8f4f4;
    border: none;
  }

  .container-navbar {
    position: fixed !important;
    top: 0%;
    width: 100%;
    z-index: 9999999;
  }
}
