* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container-rooms {
  margin-top: 180px;
  color: #c8e330;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
}
