* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.img-category {
  height: 25px;
  width: 25px;
  margin-top: 10px;
  background-color: white;
  border-radius: 5px;
  padding: 2px;
}

.container-category {
  text-align: center;
  font-family: initial;
  display: flex;
  justify-content: space-evenly;
  background-color: #efece8;
  position: fixed;
  top: 78px;
  width: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  z-index: 9999;
  padding: 10px 20px;
}

.title-category {
  font-weight: 500;
  margin-top: 3px;
  color: rgb(22, 22, 23);
}

.category-link {
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
}

.category-link.active {
  background-color: rgba(255, 165, 0, 0.9);
  padding: 0 10px;
}

@media only screen and (max-width: 390px) {
  .container-category {
    position: relative;
    width: 100%;
    top: 70px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    overflow: hidden;
  }

  .container-category {
    position: fixed;
    top: 70px;
  }

  .title-category {
    font-size: 10px;
    margin-bottom: 5px;
  }
}
